Source: compiz-fusion-plugins-extra
Priority: extra
Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
Uploaders: Sean Finney <seanius@debian.org>, kumattau <kumattau@gmail.com>
Build-Depends: automake1.9, autotools-dev, quilt, compiz-dev (>= 0.8.8),
 compiz-fusion-bcop (>= 0.8.8), compiz-fusion-plugins-main (>= 0.8.8),
 debhelper (>= 7.0.50~), intltool, libgconf2-dev, libglib2.0-dev,
 libglu1-mesa-dev, libtool, libxml2-dev, libxslt1-dev, pkg-config,
 xsltproc, librsvg2-dev, libcairo2-dev, libsm-dev, libdbus-1-dev,
 libjpeg62-dev, libdecoration0-dev (>= 0.8.8)
Standards-Version: 3.9.2
Section: x11
Vcs-Git: git://anongit.compiz.org/compiz/plugins-extra
Vcs-Browser: http://cgit.compiz.org/compiz/plugins-extra/tree

Package: compiz-fusion-plugins-extra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${compizcore:Depends}
Description: Compiz Fusion plugins - extra collection
 Compiz Fusion is the result of the re-unification of the Beryl-project
 and the community around the Compiz Window Manager. It seeks to provide
 an easy and fun-to-use windowing environment, allowing use of the
 graphics hardware to provide impressive effects, amazing speed and
 unrivalled usefulness
 .
 This package provides plugins which are not as well tested and supported
 as the "main" plugins from the compiz-fusion project.
