#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with autoreconf

COMPIZCORE_DEPENDS := $(shell dpkg-query \
	--showformat='$${Provides}\n' -W compiz-core)

override_dh_test_dir:
	dh_test_dir
	
	# Prevent from accidental breakage, early in the build process:
	if [ -z "$(COMPIZCORE_DEPENDS)" ]; \
	then echo 'Broken compiz-core ABI detection'; exit 1; fi

override_dh_auto_configure:
	dh_auto_configure -- --disable-static

override_dh_auto_install:
	dh_auto_install --destdir=$(CURDIR)/debian/tmp

override_dh_install:
	# remove unneeded files
	find $(CURDIR)/debian/tmp -name "*.la" | xargs rm -f
	rm -rf $(CURDIR)/debian/tmp/usr/lib/pkgconfig
	rm -rf $(CURDIR)/debian/tmp/usr/include

	dh_install --sourcedir=$(CURDIR)/debian/tmp --fail-missing

override_dh_gencontrol:
	dh_gencontrol -- -Vcompizcore:Depends=$(COMPIZCORE_DEPENDS)

