Source: compizconfig-backend-gconf
Priority: extra
Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
Uploaders: Sean Finney <seanius@debian.org>
Build-Depends: debhelper (>= 7.0.50~), autoconf, automake1.9, autotools-dev,
 compiz-dev (>= 0.8.8), intltool, libcompizconfig-dev (>= 0.8.8),
 libglib2.0-dev, libgconf2-dev, libtool, pkg-config, xsltproc
Standards-Version: 3.9.2
Section: x11
Vcs-Git: git://anongit.compiz.org/compiz/compizconfig/compizconfig-backend-gconf
Vcs-Browser: http://cgit.compiz.org/compiz/compizconfig/compizconfig-backend-gconf/tree

Package: compizconfig-backend-gconf
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Compiz Fusion configuration system - gconf backend
 Compiz Fusion is the result of the re-unification of the Beryl-project
 and the community around the Compiz Window Manager. It seeks to provide
 an easy and fun-to-use windowing environment, allowing use of the
 graphics hardware to provide impressive effects, amazing speed and
 unrivalled usefulness
 .
 This package provides the gconf-based configuration backend for the 
 compiz-fusion plugin system
