#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with autoreconf

override_dh_auto_configure:
	dh_auto_configure -- --enable-maintainer-mode --disable-static

override_dh_auto_install:
	dh_auto_install --destdir=$(CURDIR)/debian/tmp

override_dh_install:
	# remove unneeded files
	find $(CURDIR)/debian/tmp -name "*.la" | xargs rm -f
	rm -rf $(CURDIR)/debian/tmp/usr/lib/pkgconfig
	
	dh_install --sourcedir=$(CURDIR)/debian/tmp --fail-missing

