Source: compizconfig-backend-kconfig
Priority: extra
Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
Uploaders: Sean Finney <seanius@debian.org>, kumattau <kumattau@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), chrpath, cmake, compiz-dev (>= 0.8.8),
 intltool, kdebase-workspace-dev, libcompizconfig-dev (>= 0.8.8),
 libtool, pkg-config, xsltproc
Standards-Version: 3.9.2
Section: x11
Vcs-Git: git://anongit.compiz.org/compiz/compizconfig/compizconfig-backend-kconfig4
Vcs-Browser: http://cgit.compiz.org/compiz/compizconfig/compizconfig-backend-kconfig4/tree

Package: compizconfig-backend-kconfig
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Compiz Fusion configuration system - kconfig backend
 Compiz Fusion is the result of the re-unification of the Beryl-project
 and the community around the Compiz Window Manager. It seeks to provide
 an easy and fun-to-use windowing environment, allowing use of the
 graphics hardware to provide impressive effects, amazing speed and
 unrivalled usefulness
 .
 This package provides the kconfig-based (kde) configuration backend for the 
 compiz-fusion plugin system
