Source: compiz-fusion-plugins-unsupported
Priority: extra
Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
Uploaders: Sean Finney <seanius@debian.org>, kumattau <kumattau@gmail.com>
Build-Depends: automake1.9, autotools-dev, compiz-dev (>= 0.8.8),
 compiz-fusion-bcop (>= 0.8.8), compiz-fusion-plugins-main (>= 0.8.8),
 debhelper (>= 7.0.50~), intltool, libgconf2-dev, libglib2.0-dev, libtool,
 libxml2-dev, libxslt1-dev, pkg-config, xsltproc, librsvg2-dev, libcairo2-dev,
 libsm-dev, libglu1-mesa-dev, libdbus-1-dev, libdecoration0-dev,
 libxml-parser-perl, x11proto-core-dev, libxrender-dev, quilt
Standards-Version: 3.9.2
Section: x11
Vcs-Git: git://anongit.compiz.org/compiz/plugins-unsupported
Vcs-Browser: http://cgit.compiz.org/compiz/plugins-unsupported/tree

Package: compiz-fusion-plugins-unsupported
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${compizcore:Depends}
Description: Compiz Fusion plugins - "unsupported" collection
 Compiz Fusion is the result of the re-unification of the Beryl-project
 and the community around the Compiz Window Manager. It seeks to provide
 an easy and fun-to-use windowing environment, allowing use of the
 graphics hardware to provide impressive effects, amazing speed and
 unrivalled usefulness
 .
 This package provides an extended collection of plugins, which have received
 the least amount of review and are the most likely to be problematic on your
 system.
