#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
		--disable-static \
		--disable-fuse \
		--disable-kde \
		--enable-kde4 \
		--enable-librsvg \
		--enable-gconf \
		--sysconfdir=/usr/share \
		QTDIR=/usr

export GCONF_DISABLE_MAKEFILE_SCHEMA_INSTALL=1

override_dh_install:
	# remove unneeded files
	find $(CURDIR)/debian/tmp -name "*.la" | xargs rm -f
	
	dh_install --fail-missing
	
	# the gconf and kconfig plugins are seperately installed into
	# the -gnome and -kde packages respectively
	rm -f $(CURDIR)/debian/tmp/usr/lib/compiz/libkconfig.so
	rm -f $(CURDIR)/debian/compiz-plugins/usr/lib/compiz/libkconfig.so
	rm -f $(CURDIR)/debian/tmp/usr/lib/compiz/libgconf.so
	rm -f $(CURDIR)/debian/compiz-plugins/usr/lib/compiz/libgconf.so

override_dh_makeshlibs:
	dh_makeshlibs -- -plibdecoration0 -V'libdecoration0 (>= 0.8.8)'

CORE_ABIVERSION := $(shell sed -rn \
	's/^\#define[[:space:]]+CORE_ABIVERSION[[:space:]]+//p' \
	include/compiz-core.h)

override_dh_gencontrol:
	dh_gencontrol -- -Vcoreabiversion=$(CORE_ABIVERSION)

